In [1]:
import pandas as pd
import ast
import numpy as np
from tqdm import tqdm
# from sklearn.cluster import KMeans

from langchain.document_loaders.csv_loader import CSVLoader

In [2]:
df_inversores = pd.read_excel('data_investors.xlsx')

In [2]:
base_emprendedores1 = pd.read_csv('../matching inversores/Grid view.csv')
base_emprendedores2 = pd.read_csv('../matching inversores/Grid view (1).csv')
base_emprendedores2.rename(columns={'Nombre(s) Emprendedor(es) Uniandinos':'CEO'}, inplace=True)
interseccion = [col for col in base_emprendedores2.columns.tolist() if col in base_emprendedores1.columns.tolist()]
df_emprendedores = pd.concat([base_emprendedores1[interseccion], base_emprendedores2[interseccion]], ignore_index=True)

In [3]:
df_emprendedores[['CEO', 'Sector', 'Subsector', 'Resuma en una frase su producto o servicio']].to_csv('df_emprendedores.csv', index=False)

In [4]:
df_inversores[['Fund Focus (Sectors)']].to_csv('df_inversores.csv', index=False)

NameError: name 'df_inversores' is not defined

In [5]:
loader_emprendedores = CSVLoader(file_path="../matching inversores/df_emprendedores.csv", encoding="utf8")

data_emprendedores = loader_emprendedores.load()

In [6]:
loader_inversores = CSVLoader(file_path="../matching inversores/df_inversores.csv", encoding="utf8")

data_inversores = loader_inversores.load()

In [7]:
from langchain.text_splitter import RecursiveCharacterTextSplitter
text_splitter = RecursiveCharacterTextSplitter(
    chunk_size = 1500,
    chunk_overlap = 150
)

splits_inversores = text_splitter.split_documents(data_inversores)

In [8]:
from langchain.text_splitter import RecursiveCharacterTextSplitter
text_splitter = RecursiveCharacterTextSplitter(
    chunk_size = 1500,
    chunk_overlap = 150
)

splits_emprendedores = text_splitter.split_documents(data_emprendedores)

In [9]:
from langchain.vectorstores import Chroma
from langchain.embeddings.openai import OpenAIEmbeddings
persist_directory = 'docs_inversionistas/chroma/'

embedding = OpenAIEmbeddings(openai_api_key='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')
vectordb_inversionistas = Chroma.from_documents(
    documents=splits_inversores,
    embedding=embedding,
    persist_directory=persist_directory
)

In [10]:
from langchain.vectorstores import Chroma
from langchain.embeddings.openai import OpenAIEmbeddings
persist_directory = 'docs_emprendedores/chroma/'

embedding = OpenAIEmbeddings(openai_api_key='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')
vectordb_emprendedores = Chroma.from_documents(
    documents=splits_emprendedores,
    embedding=embedding,
    persist_directory=persist_directory
)

In [16]:
from langchain.vectorstores import Chroma
from langchain.embeddings.openai import OpenAIEmbeddings
embedding = OpenAIEmbeddings(openai_api_key='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')
vectordb_prueba = Chroma(persist_directory= 'docs_emprendedores/chroma/', embedding_function=embedding)

In [3]:
matches = {}

question = ' '.join(['Fintech', 'Servicios financieros'])
# docs_inversionistas = vectordb_inversionistas.similarity_search(question,k=6)
docs_emprendedores = vectordb_prueba.similarity_search(question,k=6)
# recomendaciones_inversionistas = [doc.metadata['row'] for doc in docs_inversionistas]
recomendaciones_emprendedores = [doc.metadata['row'] for doc in docs_emprendedores]
# matches_inversionistas = recomendaciones_inversionistas
matches_emprendedores = recomendaciones_emprendedores

In [26]:
vectordb_prueba.persist()

In [20]:
matches_emprendedores

[37, 11, 46, 41, 50, 13]

In [37]:
data = [(key, values[0], values[1], values[2], values[3], values[4], values[5]) for key, values in matches.items()]

In [38]:
base_emprendedores2.to_csv('df_emprendedores2_id.csv')

In [39]:
df_inversores.to_csv('df_inversionistas_id.csv')

In [41]:
pd.DataFrame(data, columns=['Emprendedor', 'Recomendacion 1', 'Recomendacion 2', 'Recomendacion 3', 'Recomendacion 4', 'Recomendacion 5', 'Recomendacion 6'])

,Emprendedor,Recomendacion 1,Recomendacion 2,Recomendacion 3,Recomendacion 4,Recomendacion 5,Recomendacion 6
0,0,1595,824,2151,1513,767,1301
1,1,1046,2017,2130,153,1512,1637
2,2,257,1637,596,1840,1695,872
3,3,1989,414,959,1962,642,596
4,4,1605,1931,2055,90,1165,1650
...,...,...,...,...,...,...,...
125,125,869,1339,936,397,2210,2113
126,126,98,327,924,1013,1444,577
127,127,596,1840,98,327,924,1444
128,128,2128,2054,1751,221,2025,1637
129,129,1688,221,2025,158,1897,564

In [42]:
df = pd.DataFrame(data, columns=['Emprendedor', 'Recomendacion 1', 'Recomendacion 2', 'Recomendacion 3', 'Recomendacion 4', 'Recomendacion 5', 'Recomendacion 6'])

In [43]:
df.to_csv('recomendaciones_emprendedores.csv', index=False)

In [ ]:
#API PARA RECOMENDACIONES A LOS EMPRENDEDORES https://app.sheetlabs.com/ESTO/recom_emprendedores

In [ ]:
# HACER LO MISMO PARA RECOMENDACIONES INVERSIONISTAS

In [9]:
def clusterizar(data):
    def str_to_list(string):
        try:
            lista_final = ast.literal_eval(string)
        except:
            lista_final = np.nan
        return lista_final
    data['Fund Type'] = data['Fund Type'].apply(str_to_list)
    data['Fund Stage'] = data['Fund Stage'].apply(str_to_list)
    data['Fund Focus (Sectors)'] = data['Fund Focus (Sectors)'].apply(str_to_list)
    data['Location'] = data['Location'].apply(str_to_list)
    data['Portfolio Companies'] = data['Portfolio Companies'].apply(lambda x: x.split(', ') if type(x) == str else x)
    
    fund_types = list(set([j for i in data["Fund Type"] if type(i) != float for j in i]))
    fund_stages = list(set([j for i in data["Fund Stage"] if type(i) != float for j in i]))
    fund_sectors = list(set([j for i in data["Fund Focus (Sectors)"] if type(i) != float for j in i]))
    locations = list(set([j for i in data["Location"] if type(i) != float for j in i]))
    companies = list(set([j for i in data["Portfolio Companies"] if type(i) != float for j in i]))

    df_train = pd.DataFrame( columns= ['name']+fund_sectors)

    for index, row in tqdm(data.iterrows(), total= len(data)):
        new_row = {k:v for k,v in zip(df_train.columns, [[0]]*len(df_train.columns))}
        new_row['name'] = [row['Investor Name']]

        if type(row['Fund Focus (Sectors)']) == list:
            for fund in  row['Fund Focus (Sectors)']:
                new_row[fund] = [1]

        df_train = pd.concat([df_train, pd.DataFrame(new_row)])


    df_predict = df_train.copy()
    kmeans = KMeans(random_state=0, n_init="auto").fit(df_train.drop('name', axis = 1))
    kmeans.labels_
    df_predict['cluster'] = kmeans.predict(df_train.drop('name', axis = 1))

    return df_predict['cluster']

In [10]:
clusterizar(data_original)

100%|██████████| 2268/2268 [00:12<00:00, 183.63it/s]

0    6
0    5
0    1
0    2
0    6
    ..
0    6
0    6
0    6
0    6
0    6
Name: cluster, Length: 2268, dtype: int32